Repository timshinsergey/nextjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run stylelint, npm run lint

install husky
  package.json
Due: prettier --write

update stylelint
  .stylelintrc.json
  package.json
Due: prettier --write

update husky
  .husky/pre-commit
  .huskyrc
Due: none

update stylelint, lint-stage
  .lintstagedrc
  package.json
  src/pages/home/index.module.css
Due: prettier --write, npm run stylelint

add hygen, transfer pages to src
  _templates/generate/component/index.ejs
  _templates/generate/component/prompt.js
  _templates/generate/component/styles.View.ejs
  _templates/generate/helper/export.ejs
  _templates/generate/helper/helper.ejs
  _templates/generate/helper/prompt.js
  _templates/generate/hook/export.ejs
  _templates/generate/hook/hook.ejs
  _templates/generate/hook/index.ejs
  _templates/generate/hook/prompt.js
  _templates/generate/page/page.View.ejs
  _templates/generate/page/prompt.js
  _templates/generate/page/styles.View.ejs
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about/index.module.css
  src/pages/about/index.tsx
  src/pages/api/hello.ts
  src/pages/home/index.tsx
  src/pages/index.module.css
  src/pages/index.tsx
  src/widgets/footer/index.module.css
  src/widgets/footer/index.tsx
  src/widgets/header/index.module.css
  src/widgets/header/index.tsx
  src/widgets/layout/index.module.css
  src/widgets/layout/index.tsx
Due: prettier --write, npm run stylelint, npm run lint

add storybook
  .storybook/main.js
  .storybook/preview.js
  _templates/generate/component/component.ejs
  _templates/generate/component/story.ejs
  _templates/generate/component/styles.ejs
  _templates/generate/page/component.ejs
  _templates/generate/page/story.ejs
  _templates/generate/page/styles.ejs
  package-lock.json
  package.json
  src/pages/index.tsx
  src/stories/Introduction.stories.mdx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/pages/about/index.stories.tsx
  src/stories/widgets/Footer.stories.tsx
  src/stories/widgets/Header.stories.tsx
  tsconfig.json
Due: prettier --write, npm run lint

update lint stage
  .lintstagedrc
  package.json
Due: prettier --write

create icon component
  .lintstagedrc
  package.json
  src/shared/icon/index.tsx
  tsconfig.json
Due: prettier --write, npm run lint

transfer icon component
  .lintstagedrc
Due: none

transfer icon component
  src/shared/ui/icon/index.tsx
Due: prettier --write, npm run lint

create button component
  src/shared/ui/button/button/index.tsx
  src/shared/ui/button/default/index.module.css
  src/shared/ui/button/default/index.tsx
  src/shared/ui/button/index.ts
  src/shared/ui/button/link/index.tsx
  src/shared/ui/button/slider-button/index.tsx
  src/shared/ui/container/index.tsx
Due: prettier --write, npm run stylelint, npm run lint

add docker, components, tailwind viewer
  Dockerfile
  _templates/generate/component/prompt.js
  _templates/generate/component/story.ejs
  next.config.js
  package-lock.json
  package.json
  src/shared/ui/button/button/index.tsx
  src/shared/ui/button/default/index.module.css
  src/shared/ui/button/default/index.tsx
  src/shared/ui/button/link/index.tsx
  src/shared/ui/icon/index.tsx
  src/shared/ui/spinner/index.module.css
  src/shared/ui/spinner/index.tsx
  src/shared/ui/typography/index.tsx
  src/stories/shared/ui/Spinner.stories.tsx
  src/stories/shared/ui/Typography.stories.tsx
  tailwind.config.js
Due: prettier --write, npm run stylelint, npm run lint

add image formats
  next.config.js
Due: prettier --write

add default next seo config
  src/app/next-seo.config.json
  src/app/next-seo.config.sample.json
  src/pages/_app.tsx
Due: prettier --write, npm run lint

fix error
  src/pages/_app.tsx
Due: prettier --write, npm run lint

create slider
  package-lock.json
  package.json
  src/shared/ui/button/icon-button/index.tsx
  src/shared/ui/button/index.ts
  src/shared/ui/button/slider-button/index.tsx
  src/shared/ui/slider/index.module.css
  src/shared/ui/slider/index.tsx
  src/stories/shared/ui/Slider.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

update button link
  src/shared/ui/button/link/index.tsx
Due: prettier --write, npm run lint

update shared ui slider
  src/shared/ui/slider/index.tsx
  src/stories/shared/ui/Slider.stories.tsx
Due: prettier --write, npm run lint

update shared ui typography, add tailwind plugin
  package-lock.json
  package.json
  src/shared/ui/typography/index.tsx
  tailwind.config.js
Due: prettier --write, npm run lint

update button
  src/shared/ui/button/button/index.tsx
Due: prettier --write, npm run lint

create select
  package-lock.json
  package.json
  src/shared/ui/select/index.module.css
  src/shared/ui/select/index.tsx
  src/stories/shared/ui/Select.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

update icon button
  src/shared/ui/button/icon-button/index.tsx
Due: prettier --write, npm run lint

crate social media, update component template
  _templates/generate/component/component.ejs
  src/entities/social-media/data.json
  src/entities/social-media/index.module.css
  src/entities/social-media/index.tsx
  src/stories/entities/SocialMedia.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

update buton components
  src/shared/ui/button/button/index.tsx
  src/shared/ui/button/default/index.tsx
  src/shared/ui/button/icon-button/index.tsx
  src/shared/ui/button/link/index.tsx
Due: prettier --write, npm run lint

create docker-compose, workflow, update tsconfig
  .github/workflows/workflow.yml
  docker-compose.yml
  tsconfig.json
Due: prettier --write

update dockerfile
  Dockerfile
Due: none

refactoring pages
  _templates/generate/page/component.ejs
  _templates/generate/page/page.ejs
  pages/_app.tsx
  pages/_document.tsx
  pages/about/index.tsx
  pages/api/hello.ts
  pages/index.tsx
  src/pages/about/index.tsx
  src/pages/home/index.module.css
  src/pages/home/index.tsx
  src/pages/index.tsx
  src/shared/ui/container/index.tsx
  src/stories/pages/about/index.stories.tsx
  tsconfig.json
Due: prettier --write, npm run stylelint, npm run lint

comment workflow
  .github/workflows/workflow.yml
Due: none

update generator template
  _templates/generate/component/component.ejs
Due: none

update container
  .github/workflows/workflow.yml
  src/shared/ui/container/index.tsx
Due: prettier --write, npm run lint

create checkbox
  package-lock.json
  package.json
  src/shared/ui/checkbox/index.module.css
  src/shared/ui/checkbox/index.tsx
  src/stories/pages/about/index.stories.tsx
  src/stories/shared/ui/Checkbox.stories.tsx
  src/stories/shared/ui/Select.stories.tsx
  src/stories/shared/ui/Slider.stories.tsx
  src/stories/shared/ui/Typography.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

create use id hook
  src/shared/hooks/use-id.tsx
Due: prettier --write, npm run lint

create input
  package-lock.json
  package.json
  src/shared/ui/dialog/index.module.css
  src/shared/ui/dialog/index.tsx
  src/shared/ui/input/index.module.css
  src/shared/ui/input/index.tsx
  src/stories/shared/ui/Dialog.stories.tsx
  src/stories/shared/ui/Input.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

create radio group component
  package-lock.json
  package.json
  src/shared/ui/radio-group/index.module.css
  src/shared/ui/radio-group/index.tsx
  src/stories/shared/ui/RadioGroup.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

create range slider component
  package-lock.json
  package.json
  src/shared/ui/range-slider/index.module.css
  src/shared/ui/range-slider/index.tsx
  src/stories/shared/ui/RangeSlider.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

update github workflows
  .github/workflows/deploy-ya-sls-container.yml
  .github/workflows/push-to-ya-container-registry.yml
Due: none

create tabs
  package-lock.json
  package.json
  src/shared/ui/tabs/index.module.css
  src/shared/ui/tabs/index.tsx
  src/stories/shared/ui/Tabs.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

create breadcrumbs
  .env.example
  src/shared/ui/breadcrumbs/index.module.css
  src/shared/ui/breadcrumbs/index.tsx
  src/stories/shared/ui/Breadcrumbs.stories.tsx
Due: prettier --write, npm run stylelint, npm run lint

create hook and func
  src/shared/hooks/use-currency-format.tsx
  src/shared/libs/slice-into-chunks.ts
Due: prettier --write, npm run lint

Path conditions:
  prettier --write: ((any of: *.{js,json,md,html}) or (any of: *.css)) or (any of: *.{jsx,tsx,ts})
  npm run stylelint: any of: *.css
  npm run lint: any of: *.{jsx,tsx,ts}
